.env
.venv/
src\__pycache__/
__pycache__/
*.pyc
rt_conversation.py
rt_conversation2.py
testing_await.py
log.txt
transcription.txt
# Ignored legacy modules
src/audio_handler.py
src/event_handler.py
src/main.py
src/realtime_client.py